* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 27%;
    margin-inline: auto;
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 0px 6px 20px 0px black;
}

.head-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-img img{
    width: 70px;
}
#num {
    color: black;
}
.bharat-gov {
    background-color: rgb(245, 91, 2);
    color: white;
    text-align: center;
    font-size: 20px;
    padding-block: 3px;
}

.blank {
    padding-block: 25px;
}

.unique-id{
        background-color: rgb(39, 147, 39);
        color: white;
        text-align: center;
        font-size: 20px;
        padding-block: 3px;
        margin-bottom: 15px;
}

.main-add {
    padding: 10px;
    padding-top: 0px;
}

.main-add p span {
    padding-left: 15px;
}

.bar-qr {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 30px 55px;
}

.card-no {
    font-size: 25px;
    text-align: center;
}

.card-no p {
    padding-block: 10px;
}

span {
    color: rgb(245, 91, 2);
}

.card-no p strong {
    font-size: 35px;
}

hr {
    height: 3px;
    background-color: rgb(245, 91, 2);
    margin-bottom: 10px;
}

#upper {
    border-bottom: 3px dashed black;
}

.img-low {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-low img {
    width: 60px;
}

.gov img {
    width: 230px;
    justify-content: center;
}

.card {
    display: flex;
    font-size: 11px;
}

.card div {
    padding: 7px;
}

.down {
    text-align: center;
}
